* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body {
    background: url(images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-size: contain;
    max-width: 100vw;
}

main {
    display: flex;
    flex-direction: column;
    max-width: 23rem;
    background-color: rgb(255, 255, 255);
    margin: 6rem auto;
    border-radius: 2rem;
    text-align: center;
    line-height: 1.3;
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.5);
}

.hero {
    border-radius: 2rem 2rem 0 0;
    margin-block-end: 1.7rem;
    padding: 0;
}

h1, p {
    padding: 0 2rem;
}

p {
    color: hsl(224, 23%, 55%);
    margin-block-end: 2rem;
}

.con {
    display: flex;
    justify-content: center;
    
}

.con img {
    width: 3rem;
    height: 3rem;
}

.sub {
    display: flex;
    flex-direction: column;
}

.change {
    text-decoration: underline;
    color: hsl(245, 75%, 52%);
}

.change:hover {
    cursor: pointer;
    color: hsl(245, 90%, 70%);
}

button {
    display: flex;
    justify-content: center;
    padding: 0.6rem;
    margin: 1rem;
}

.payment {
    color: white;
    background: hsl(245, 75%, 52%);
    border-radius: 0.7rem;
    border-style: none;
    box-shadow: 0 15px 65px rgba(38, 20, 202, 0.4);
}

.payment:hover {
    background: hsl(245, 90%, 70%);
    cursor: pointer;
}

.cancel {
    background: none;
    border-style: none;
    margin-block-end: 2rem;
}

.cancel:hover { cursor: pointer;}

@media (max-width: 900px) {
    body {
        background: url(images/pattern-background-mobile.svg);
        background: url(images/pattern-background-desktop.svg);
        background-repeat: no-repeat;
        background-size: 300rem;
    }
}